<div class="detail-course">
    <div class="row">
        {{!-- <div class="col-lg-3">
        </div> --}}
        <div class="col-sm-12">
            <h2 class="text-center">{{course.name}}</h2>
            <iframe class="col-md-12"  width="1400" height="650" src="https://www.youtube.com/embed/{{course.videoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="text-center">{{course.desc}}</p>
        </div>
    </div>
</div>