<div class="card text-center bg-dark" id="footer">
  <div class="card-body">
    <h5 class="card-title">Thank you for watching</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque numquam ab optio esse ducimus atque!</p>
    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
  </div>
  <div class="card-footer text-muted" id="footer-bottom">
    <p id="footer-bottom-text">Copyright ©2022 LeHongPhong.</p>
  </div>
</div>